<html>
<heaad>
        <title>Login Form</title>
        <link rel="stylesheet" href="/static/style.css"/>

</heaad>
<body>
        <div class="login-form">
            <h1>REGISTRSTION</h1>
            <form action ="#" method="POST">
                <p>First Name:</p>
                <input type= "text" name="name" placeholder="First name">
                <p>Last Name</p>
                <input type= "text" name="name" placeholder="Last name">
                <p>Username:</p>
                <input type= "text" name="user" placeholder="Username">
                <p>Password:</p>
                <input type= "password" name="user" placeholder="Password">
         
                <button type="submit">  <a href="login.html"> LOGIN  </a> </button> 
                <button type="submit">  REGISTER </a> </button> 
    




            </form>
        </div>



        
</body>

</html>